body {
    padding: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 20px;
    border: 1px solid black;
}
th{

    font-size:20px;
    font-weight:bold;
    color:black;
    text-align:center;
    padding:20px;
    background-color: yellow;
    border-color: black;
}
td{

    font-weight:400;
    color:#5f6062;
    font-size:20px;
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0;
    text-align: left;
}

.hover {
    background: red;
}

.bg-yellow {
    background-color: yellow;
}